{% extends "base.html" %}

{% block content %}
<h1>Your Notebooks</h1>

<a href="/notebooks/create/">Create New Notebook</a>

<ul>
    {% for notebook in notebooks %}
        <li>
            <a href="/notebooks/{{ notebook.id }}/">
                {{ notebook.title }}
            </a>
            <a href="/notebooks/update/{{ notebook.id }}/">Edit</a>
            <a href="/notebooks/delete/{{ notebook.id }}/">Delete</a>
        </li>
    {% empty %}
        <li>No notebooks yet.</li>
    {% endfor %}
</ul>

{% endblock %}